In [1]:
# here are the steps to install the sqlite3 library in a Python virtual environment (venv) and use it to perform CRUD operations:
# You should not need to install the sqlite3 module separately using pip for Python 3. 
# The sqlite3 module is part of the Python 3 standard library and comes pre-installed.
import sqlite3

In [2]:
# Create a new SQLite database
conn = sqlite3.connect('advsql.db')

In [3]:
# Create a cursor
c = conn.cursor()

In [4]:
# Create a table
c.execute('''CREATE TABLE users
(id INTEGER PRIMARY KEY, name TEXT, email TEXT)''')

In [5]:
# Perform CRUD operations
# Insert one record in Table users
c.execute("INSERT INTO users(name, email) VALUES ('John', 'john@example.com')")
conn.commit()

In [6]:
# select all of the records from Table Users
c.execute("SELECT * FROM users")
print(c.fetchall())

[(1, 'John', 'john@example.com')]

In [7]:
# Insert three records in Table users
c.execute("INSERT INTO users(name, email) VALUES ('Jack','jack@gmail.com')")
c.execute("INSERT INTO users(name, email) VALUES ('Tom','tom@gmail.com')")
c.execute("INSERT INTO users(name, email) VALUES ('Lucy','lucy@gmail.com')")
conn.commit()

In [8]:
# select all of the records from Table Users
c.execute("SELECT * FROM users")
print(c.fetchall())

[(1, 'John', 'john@example.com'), (2, 'Jack', 'jack@gmail.com'), (3, 'Tom', 'tom@gmail.com'), (4, 'Lucy', 'lucy@gmail.com')]

In [9]:
# Update data
c.execute("UPDATE users SET email='newemail@gmail.com' WHERE id=1")
conn.commit()

In [10]:
# select all of the records from Table Users
c.execute("SELECT * FROM users")
print(c.fetchall())

[(1, 'John', 'newemail@gmail.com'), (2, 'Jack', 'jack@gmail.com'), (3, 'Tom', 'tom@gmail.com'), (4, 'Lucy', 'lucy@gmail.com')]

In [11]:
# Delete one record with the id is 4
c.execute("DELETE FROM users WHERE id=4")
conn.commit()

In [12]:
# select all of the records from Table Users
c.execute("SELECT * FROM users")
print(c.fetchall())

[(1, 'John', 'newemail@gmail.com'), (2, 'Jack', 'jack@gmail.com'), (3, 'Tom', 'tom@gmail.com')]

In [13]:
# close the connection
conn.close()

In [ ]:
# By following these steps, you can install the sqlite3 library in a Python virtual environment, 
# create a SQLite database file, define tables, and perform CRUD (Create, Read, Update, Delete) operations 
# on the data using Python code.